/* UploadPage.css */
/* Styling for the Video Uplaod page */

.upload-page {
  max-width: 400px; /* Adjust width for a more compact form */
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.upload-page h1 {
  color: #333;
}

input[type="text"],
input[type="url"],
textarea {
  width: calc(100% - 40px); /* Consistent width for all input fields */
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 24px;
  font-size: 14px;
  background-color: #f0f0f0; /* Light gray background for input fields */
  color: #333; /* Text color inside input fields */
}

input[type="text"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: #999; /* Placeholder text color */
}

input[type="text"],
input[type="url"],
textarea {
  padding-left: 30px; /* Space for the icon */
}

form div {
  margin-bottom: 15px;
  position: relative; /* Position relative to place icons */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="url"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  color: #ffff;
  background-color: #2ac2f0;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
}

button.upload {
  background-color: #007bff;
  margin-left: 10px;
}

button.upload:hover {
  background-color: #0056b3;
}

button.cancel {
  background-color: #6c757d;
}

button.cancel:hover {
  background-color: #5a6268;
}

.button-group {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Space between buttons */
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .upload-page {
    padding: 10px;
  }
}
