/* VideoPage.css */
/* Styling for the Video Page */

.video-page {
    padding: 20px; 
    display: flex;
  }
  
  .video-container {
    flex: 2;
  }
  
  .related-videos {
    flex: 1;
  }
  
  .related-videos h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .video-page {
      flex-direction: column;
    }
  }
  